# Functions:
## Smiple
## code reuseability

# Syntax:
- def function_name(arguments):
    - Statements
    - return

In [3]:
def EvenDigitSum(n):
    i=n
    sum=0
    while(i>0):
        if((i%10)%2==0):
            sum+=(i%10)
        i=i//10
    print(sum)

n=int(input("Enter n value"))
EvenDigitSum(n)
#print(sum)

Enter n value654646
26

In [4]:
def LargeNumber(n):
    i=n
    large=0
    while(i>0):
        r=i%10
        if(r>large):
            large=r
        i=i//10
    print(large)
n=int(input("enter:"))
LargeNumber(n)

enter:4647698796
9

# Collection Types:
- 1.Lists
- 2.Tuple
- 3.Set
- 4.Ditionary

# List:
- One of the data structures available in python
- List is always enclosed in []
- Elements in a list is seperated by comma(,)

In [20]:
l=[1,1.322,'ananth']
l[0]

1

In [18]:
n=input("enter:")
print(n)
type(n)

enter:44464
44464

str

In [25]:
l=[1,23,'jgijoi','gtff','ufufuf']
l[2:5]

['jgijoi', 'gtff', 'ufufuf']

In [69]:
l=[5,6]
print(max(l))
print(min(l))
print(sum(l))
len(l)

6
5
11

2

In [70]:
l=[1,5,6,3,2]
l[0]="Python"
l

['Python', 5, 6, 3, 2]

In [31]:
l[4]='Gitam'
l

['Python', 5, 6, 3, 'Gitam']

In [32]:
del l[2]
l

['Python', 5, 3, 'Gitam']

In [40]:
l=[2,6,4,5]
l

[2, 6, 4, 5]

In [41]:
l*2

[2, 6, 4, 5, 2, 6, 4, 5]

In [43]:
2 in l

True

In [60]:
l1=[2,6,4,5]
print(l[0] is l[0])
print(l is not l1)

True
True

In [53]:
for i in l:
    print(i,end=" ")

2 6 4 5

In [67]:
for i in range(len(l)):
    print(l[i])

2
6
4
5

In [92]:
#list methods
l.append(2)
l

['Python', 5, 6, 3, 2]

In [94]:
l.insert(0,'gitam')
l

['gitam', 'gitam', 'Python', 5, 6, 3, 2]

In [96]:
l.count('gitam')

2

In [100]:
l.index('Python')

2

In [102]:
l.pop()

3

In [103]:
l.pop(0)

'gitam'

In [112]:
print(l)
l1=["abc","gitam"]
print(l1)
l.extend(l1)
print(l)

['gitam', 'Python', 5, 6]
['abc', 'gitam']
['gitam', 'Python', 5, 6, 'abc', 'gitam']

In [116]:
l2=[4,56,68,32,2]
l2.sort()
print(l2)

[2, 4, 32, 56, 68]

In [120]:
l2.reverse()
l2

[68, 56, 32, 4, 2]

In [126]:
#function to print largest no. from the list
def large(l):
    l1=0
    for i in l:
        if(l1<i):
            l1=i
    return l1

l=large([213,245,634,3214])
print(l)

3214

In [129]:
#function to print second largest element
def secondLargest(l):
    l.sort()
    return l[-2]

print(secondLargest([53,576,8658,7576]))

7576

In [131]:
#function to print minimum element
def minimum(l):
    l.sort()
    return l[0]

print(minimum([9,3,5,13,2]))

2

# Tuple
- Tuples are enclosed in paranthesis-()
- Tuples are immutable i.e., elements inside a tuple cannot be deleted
- Modifications are not possible in tuple
- Tuples are only to access data

# Differences between lists and tuples
- List----->[]           - tuple------->()
- Mutable                - immutable
  (changes can be made)  - (cannot be changed)
- work slower            - work faster

In [132]:
t1=(1,234.34223,"Python")
print(t1)
type(t1)

(1, 234.34223, 'Python')

tuple

In [134]:
t1[:]

(1, 234.34223, 'Python')

In [137]:
t1[:-1]

(1, 234.34223)

In [139]:
t1[2]="uyfhuf"

TypeError: 'tuple' object does not support item assignment

In [140]:
t1.append(43)

AttributeError: 'tuple' object has no attribute 'append'

In [142]:
t1.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [143]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [144]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

# Dictionary
- it is enclosed in { } 
- it is made up of key value pairs
- each key is seperate from its value by using colon (:)
- each key value pair is seperated from other pairs using comma (,)
- keys must be unique while creating a dictionary

In [148]:
d={"Name":'Gitam','Email-id':'something@gmail.com','Address':"Hyd"}
print(type(d))
d

<class 'dict'>

{'Name': 'Gitam', 'Email-id': 'something@gmail.com', 'Address': 'Hyd'}

In [150]:
d['Name']

'Gitam'

In [152]:
d['Name']='Ananth'
d['Name']

'Ananth'

In [155]:
d["course"]="Python"
d

{'Name': 'Ananth',
 'Email-id': 'something@gmail.com',
 'Address': 'Hyd',
 'course': 'Python'}

In [156]:
del d['course']
d

{'Name': 'Ananth', 'Email-id': 'something@gmail.com', 'Address': 'Hyd'}

In [157]:
d.keys()

dict_keys(['Name', 'Email-id', 'Address'])

In [158]:
d.values()

dict_values(['Ananth', 'something@gmail.com', 'Hyd'])

In [160]:
d['Name']='Dheeraj'
d

{'Name': 'Dheeraj', 'Email-id': 'something@gmail.com', 'Address': 'Hyd'}

In [161]:
d1={'Name':'Dheeraj','Name':'Ananth'}
d1

{'Name': 'Ananth'}

# Strings

In [181]:
s="Python"
print(s[0])
print(s[0:4])
print(s[:-3])

P
Pyth
Pyt

In [169]:
l=["ananth","dheeraj"]
l[0:2]

['ananth', 'dheeraj']

In [170]:
s[0:2]

'Py'

In [183]:
print(s[::-1])
s1=s[::-1]
print(s1)
print(s)

nohtyP
nohtyP
Python

In [188]:
#function to check whether the input is palindrome or not
def palindrome(s):
    if(s[::-1]==s):
        print("palindrome")
    else:
        print("not a palindrome")
        
s=input("enter a string:")
palindrome(s)

enter a string:ana
palindrome

# String Methods:
- join(): Method to concatenate strings

In [197]:
s="ananth"
print(",".join(s))

a,n,a,n,t,h

In [204]:
s="ananth padmanabhan"
print(s.split())
print(s.split("h"))

['ananth', 'padmanabhan']
['anant', ' padmanab', 'an']

In [208]:
print(s.replace("ananth","p"))

p
ananth